# -*- mode: python -*-
# {{ansible_managed}}

all_hosts = [
{% if omdistro_use_inventory %}
# ansible inventory
{% for host in groups['all'] %}
{%     set grps = ['snmp', 'tcp'] %}
{%     for grp in group_names %}
{%         if grp in omdistro_hostgroups %}
{%             do grps.append(grp) %}
{%         endif %}
{%     endfor %}
    "{{ host }}|{{ grps|join('|') }}",
{% endfor %}
{% endif %}
#
# netmon inventory
# check_mk can only 'discover' ipv4
{% for host in netmon.devices %}
    "{{ host.name }}|{{ host.groups|join('|') }}",
{% endfor %}
]

{% if not omdistro_scan_parents %}
# parent definitions
parents += [
{% for host in netmon.devices %}
{%     if host['ext'] is defined and host['ext']['omdistro'] is defined and  host['ext']['omdistro']['parent'] is defined %}
{%         if host['ext']['omdistro']['parent'] is string %}
    ("{{ host.ext.omdistro.parent }}", ["{{ host.name }}"]),
{%         else %}
{%             for p in host['ext']['omdistro']['parent'] %}
    ("{{ p }}", ["{{ host.name }}"]),
{%             endfor %}
    ("{{ host.ext.omdistro.parent }}", ["{{ host.name }}"]),
{%         endif %}
{%     endif %}
{% endfor %}
]
{% endif %}
