# -*- mode: python -*-
# {{ansible_managed}}

all_hosts = [
# ansible inventory
{% for host in groups['all'] %}
    "{{ host }}|snmp|tcp",
{% endfor %}
#
# netmon inventory
# check_mk can only 'discover' ipv4
{% for host in netmon.devices %}
    "{{ host.name }}|{{ host.groups|join('|') }}",
{% endfor %}
]
