# {{ ansible_managed }}
#
######################################
# Site Specific Settings
######################################

{% if omdistro_use_ssl %}
cookie_auth_restricted_url        = https://localhost/{{ omdistro_site }}/thruk/cgi-bin/restricted.cgi
{% endif %}
{% for cfg in omdistro_thruk_conf %}
{{ cfg['name'] }} = {{ cfg['value'] }}
{% endfor %}
